body {
  font-family: 'Press Start 2P', monospace;
  background-color: #111;
  color: #0f0;
}

#game-container {
  border: 4px double #0f0;
  background-color: #000;
  color: #0f0;
  padding: 20px;
  font-size: 12px;
}
button {
  font-family: inherit;
  background-color: #111;
  color: #0f0;
  border: 2px solid #0f0;
}
